body {
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    text-align: center;
    background-color: #ffffff;
    border-bottom: 1px solid red;
    padding: 20px;
    font-size: large;
}
header img {
    padding-bottom: 10px;
}

nav a {
    text-decoration: none;
    color: #0645ad;
    margin-left: 5%;
}
nav a:hover {
    text-decoration: underline;
}



.cap_images {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-top: 10px;
    padding-bottom: 5px;
    border: 2px solid red;
    text-align: center;
    
}
.cap_images img {
    width: 150px;
    height: 225px;
    border: 1px solid black;
    
}

.cap_price {
    color: red;
}
button {
    border: 1px solid;
    color: green;
    font-size: medium;
    border-color: black;
}
footer {
    text-align: left;
    padding-top: 30px;
    font-size: 14px;
    color: #555;
}
.cap_product {
    background-color:bisque;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 25px;
    font-size: larger;

}
.cap_product img {
    width: 600px;
    height: 450px;
    border: 2px solid black;
}
main { text-align: right;
        
}
main h1 {
    text-align: center;
    padding: 30px ;
    background-color: aquamarine;
}

.cap_cart {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;

}
.cap_cart img {
    border: 1px solid black;
    width: 250px;
    height: 300px;
}